.logo {
    width: 50%;
    height: auto;
}

.page {
    & section {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;

        .logo {
            .logo;
        }
    }
}
